/* styles all html files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



/* style for main page html file */
#main-page-body {
    background-image: url(../images/oyster-lemon-gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app-title {
    font-family: 'Girassol', serif;
    font-size: 150px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
}

#quote {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    #app-title  {
        font-size: 100px;
    }
    #quote {
        font-size: 30px;
    }
}
    





/* style for search page html file */
#search-title {
    text-align: center;
    font-family: 'Girassol', serif;
    font-size: 80px;
    margin-bottom: 25px;
    color: white;
}

#search-page-body {
    background-color: rgb(92, 92, 92);
}


