html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Girassol', serif;
    letter-spacing: 2px;
}

#search-title {
    text-align: center;
    font-family: 'Girassol', serif;
    font-size: 100px;
    margin-bottom: 25px;
    color: white;
}

#search-page-body {
    background-image: url(../images/ben-stern-4n96lyJd2Xs-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subtitle {
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

#map, #results-card {
    border: 5px solid black;
    border-radius: 15px;;
}

.card2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    border: 5px solid black;
  }

#no-results {
    height: 50%;
    text-align: center;
}

.hidden {
    display: none;
}