html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search-title {
    text-align: center;
    font-family: 'Girassol', serif;
    font-size: 100px;
    margin-bottom: 25px;
    color: white;
}

#search-page-body {
    background-image: url(../images/ben-stern-4n96lyJd2Xs-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}