html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/ben-stern-4n96lyJd2Xs-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    font-family: 'Girassol', serif;
    font-size: 100px;
    margin-bottom: 25px;
    color: white;
}

p, span {
    font-family: 'Courier New', Courier, monospace;
}


#map {
    border-radius: 8px; 
    margin-top: -10px;

    
}

.media-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #map {
        display: none;
    }
    
}